:root {
    --tyellow: #e9df00;
    --tred: #5c0000;
    --dred: rgba(60, 0, 0, 0.97);
    --lred: rgba(185, 0, 0, 0.97);
    --tbg: #717171;
    --tbuttonsel: #141414;
    --containerbg: #b0b0b0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    white-space: normal;
    overflow: hidden;
}
a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}
.page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
.border-accent {
    height: 100%;
    width: 0.52%;
    background-color: var(--tyellow);
}
.main-area {
    display: flex;
    height: 100%;
    width: 98.96%;
    background-image: linear-gradient(120deg, var(--lred), var(--dred)), url(../resources/logo/tsu.jpg);
    background-size: 400% 400%, 10% 20%;
    background-repeat: no-repeat, repeat;
    animation: bg-twist 15s ease-in-out infinite;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 1.5%;
    row-gap: 0px;
    overflow: auto;
}
@keyframes bg-twist {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 50%;}
}
.logo {
    width: min(24.9vw, 53vh);
    height: min(24.9vw, 53vh);
    border-radius: 50%;
    background-color: white;
    -webkit-mask-image: linear-gradient(-45deg,#fff 25%,rgba(255,255,255,.2) 50%,#fff 75%);
    mask-image: linear-gradient(-45deg,#fff 25%,rgba(255,255,255,.2) 50%,#fff 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 100%;
    mask-position: 100%;
}
.logo:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    transform: scale(1.03);
    -webkit-mask-position: 0;
    mask-position: 0;
    opacity: 1;
}
.title-container {
    overflow: visible;
    min-height: 14%;
    width: 90%;
    margin-top: 1.5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    animation: title-move 3s linear 0s infinite;
}
.title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(20, 20, 20, 5);
    color: white;
    font-size: min(8.88vh, 4.24vw);
    text-shadow: 0.1908vw 0.3996vh min(0.627vh, 0.3vw) #303030;
    font-weight: bold;
    border: 3px solid var(--tyellow);
    transform: skewX(-10deg);
    border-radius: 20px;
    box-shadow: 0.1908vw 0.3996vh min(0.627vh, 0.3vw) #303030;
    -webkit-mask-image: linear-gradient(-45deg,#fff 25%,rgba(255,255,255,.2) 50%,#fff 75%);
    mask-image: linear-gradient(-45deg,#fff 25%,rgba(255,255,255,.2) 50%,#fff 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 100%;
    mask-position: 100%;
}
.title:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 0;
    mask-position: 0;
    opacity: 1;
}
@keyframes title-move {
    0% {transform: translateY(0);}
    25% {transform: translateY(-2%);}
    50% {transform: translateY(0);}
    75% {transform: translateY(2%);}
    100% {transform: translateY(0);}
}
.description {
    min-height: 6%;
    width: 28%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: min(3.33vh, 1.59vw);
    text-shadow: 0.1908vw 0.3996vh min(0.627vh, 0.3vw) #303030;
    font-weight: 600;
    transform: skewX(-10deg);
    border-radius: 10px;
    animation: title-move 3s linear 0s infinite;
}
.choose-container-container {
    min-height: 20%;
    width: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
    animation: title-move 3s linear 0s infinite;
}
.choose-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--tbuttonsel);
    color: white;
    border: 2px solid var(--tyellow);
    border-radius: 20px;
    transform: skewX(-15deg);
}
.choose {
    min-height: 100%;
    width: 33.34%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: min(4.44vh, 2.12vw);
    text-shadow: 0.1908vw 0.3996vh min(0.627vh, 0.3vw) #303030;
    font-weight: bold;
    font-style: italic;
    transition-property: background, color;
    transition-duration: 0.5s;
}
.choose:nth-child(2) {
    border-left: 2px solid var(--tyellow);
    border-right: 2px solid var(--tyellow);
}
.choose:hover {
    background-color: var(--tyellow);
    color: var(--tbuttonsel);
}
#vid {
    height: min(24.9vw, 53vh);
    width: calc(1.778 * min(24.9vw, 53vh));
    border: 1px solid var(--tyellow);
    cursor: pointer;
}
#vid:hover {
    transform: scale(1.03);
}
@media screen and (max-width: 820px) {
    .login-container {
        width: 70%;
    }
    .main-area-header {
        height: 10%;
    }
    .main-area {
        padding-bottom: 10%;
    }
    .back {
        position: relative;
        right: 0;
        width: 12%;
    }
}
@media screen and (max-width: 820px) and (height: 1180px) {
    .login-container {
        width: 70%;
    }
    .main-area-header {
        height: 10%;
    }
    .main-area {
        padding-bottom: 75%;
    }
    .back {
        position: relative;
        right: 0;
        width: 12%;
    }
}
@media screen and (max-width: 768px) and (height: 1024px) {
    .login-container {
        width: 70%;
    }
    .main-area-header {
        height: 10%;
    }
    .main-area {
        padding-bottom: 60%;
    }
    .back {
        position: relative;
        right: 0;
        width: 12%;
    }
}
@media screen and (max-width: 410px) {
    .login-container {
        width: 90%;
    }
    .main-area {
        padding-bottom: 40%;
    }
}
@media screen and (width: 390px) and (height: 844px) {
    .main-area {
        padding-bottom: 65%;
    }
}
@media screen and (width: 393px) and (height: 851px) {
    .main-area {
        padding-bottom: 70%;
    }
}

.choose-admin {
    min-height: 100%;
    width: 33.34%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--tbuttonsel);
    color: white;
    font-size: min(4.44vh, 2.12vw);
    text-shadow: 0.1908vw 0.3996vh min(0.627vh, 0.3vw) #303030;
    font-weight: bold;
    font-style: italic;
    transition-property: background, color;
    transition-duration: 0.5s;
}
.choose-admin:nth-child(2) {
    border-left: 2px solid var(--tyellow);
    border-right: 2px solid var(--tyellow);
}
.choose-admin:hover {
    background-color: var(--tyellow);
    color: var(--tbuttonsel);
}